.idea/
venv/
*.pyc

#
dist/
__pycache__/
*.egg-info/
.eggs/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# sphinx files
doc/build/html/
doc/build/doctrees/
_build
_static
_templates

# codecov
.coverage
coverage/
coverage.xml

# nodejs
node_modules/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

